@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.center-text {
    text-align: center;
}
.justify-text{
    text-align: justify;
}
.float-r {
    float: right;
}
.float-l {
    float: left;
}
/*MENU*/
.i-form-center {
    font-size: 100px;
    text-align: center;
}
.b-degradaint {
    border-radius: 12px;
    background: rgb(36, 0, 17);
    background: linear-gradient(90deg, rgba(36, 0, 17, 0.9953703703703703) 0%, rgba(90, 9, 121, 0.9375) 35%, rgba(255, 0, 209, 0.8402777777777778) 100%);
    color: white;
    width: 100%;
    margin: 15px 15px 15px 15px;
}
.b-out{
    border: 0px;
    background-color: transparent;
    transition: background-color 2s ease-out 100ms;
    border-radius: 12px;
}
.b-out:hover{
    background: rgba(90, 9, 121, 0.9375);
    color: white;
}
.b-out:active {
    border:solid black;
}
.d-scroll{
    overflow-y: scroll;
}
.my-btn-u{
    background-color: blueviolet;
    color: white;
    border-radius: 75px;
    border:none;
    padding:15px;
}
.my-btn-u:hover {
    background: rgb(115, 0, 185);
        background: linear-gradient(90deg, rgba(115, 0, 185, 1) 0%, rgb(120, 26, 179) 38%, rgb(166, 120, 195) 99%);
    color: white;
    border-radius: 75px;
    border: none;
    padding: 15px;
}
.my-btn-u:active{
    box-shadow: 0 5px #666;
    transform: translateX(4px);
}
.my-btn-d{
    border-radius: 10px;
    width: 110px;
    background-color: inherit;
    margin-bottom: 5px;
}
.my-btn-d:hover {
    box-shadow: 0 5px black;
    border-radius:2px solid rgb(185, 24, 24);
}
#b-m-descargar{
    border-radius: 10px;
    background: rgb(255, 187, 0);
}
/*MAIN*/
.titulo-pelicula{
    border-style: double;
    width: 130px;
}
.b-m-pay{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    height: 50px;
}
.b-m-pay:hover{
    background-color: blueviolet;
    color: black;
}
.b-m-pay:active {
    color: black;
    border: solid 1px black;
}
.starY{
    color: yellow;
    text-align: left;
}
.starB {
    color: black;
    text-align: left;
}
input.puntuacion{
    width: 50px;
}
/*NAV*/
#nav {
    background: rgb(115, 0, 185);
    background: linear-gradient(90deg, rgba(191, 110, 241, 1) 0%, rgba(115, 0, 185, 1) 38%, rgba(138, 39, 198, 1) 99%);
}

.navBtn {
    color: white;
    margin: 5px;
}
.navBtn:hover {
    border-bottom: 2px solid black;
}
.anav {
    color: white;
}

.anav:hover {
    color: white;
}
/*ACTOR*/
.d-artista-persona {
    width: 200px;
    float: left;
}
.b-a-persona {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    background-color: rgb(115, 0, 185);
    color: white;
}