<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/css.css">

    <title>main</title>
</head>

<body>
    <!--PAGINA PRINCIPAL-->
    <div class="container" id="d-main-page">
        <!--MAIN-->
        <div class="row" id="d-m-main">
            <div class="col-sm-5">
                <div class="input-group">
                    <select class="custom-select" id="s-input" aria-label="Example select with button addon">
                        <!--option selected>Choose...</option-->
                        <option value="1" selected>AZ</option>
                        <option value="2">ZA</option>
                    </select>
                    <div class="input-group-append">
                        <button class="my-btn-d" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <button class="my-btn-d">Ver Actores</button>
                <button class="my-btn-d">Ver Categorias</button>
            </div>
            <div class="row" id="d-mm-pel">
                <!--PELIS-->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="titulo-pelicula center-text">
                                TITULO:
                                PELICULA
                            </div>
                        </div>
                        <div class="col-sm-5 justify-text">
                            <p><b>DES:</b>123</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="b-m-pay">
                                        <i class="bi bi-info-circle-fill"></i>
                                        info
                                    </button>
                
                                </div>
                                <div class="col-sm-4">
                                    <button class="b-m-pay">
                                        <i class="bi bi-bag-check-fill"></i>
                                        alquilar
                                    </button>
                                </div>
                                <div class="col-sm-4">
                                    Q00.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>